<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Bootstrap Theme</title>
  <script>
     function Edit(id){
            window.location.href = "/doge/edit?id=" + id;
        }
  </script>
</head>

<body>
  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <%= data[0].name %>
          </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="/doge" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Back To List
          </a>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" onclick="Edit(<%= data[0].id %>) ">
            <i class="fas fa-pencil-alt"></i> Edit
            </button>
        </div>
      </div>
    </div>
  </section>

  <!-- EDIT -->
  <section id="edit">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4><%= data[0].name %>'s Detail</h4>
            </div>
            <div class="card-body">
              <form id="saveDoge" action="/doge/update" method="doge">
                <input type="hidden" name="id" value="<%= data[0].id %>" />
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label for="name"><font size="4">Name:</font></label>
                      <br />
                      <label for="name"> <%= data[0].name %> </label>
                    </div>
                    <div class="col">
                      <label for="breed"><font size="4">Breed:</font></label>
                      <br />
                      <label for="breed"> <%= data[0].breed %> </label>
                    </div>
                    <div class="col">
                      <label for="gender"><font size="4">Gender:</font></label>
                      <br />
                      <label for="gender"> <%= data[0].gender %> </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="provider"><font size="4">Provider:</font></label>
                      <br />
                      <label for="provider"> <%= data[0].provider %> </label>
                    </div>
                    <div class="col">
                      <label for="adopter"><font size="4">Adopter:</font></label>
                      <br />
                      <label for="adopter"> <%= data[0].adopter %> </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                 <div class="row">
                    <div class="col">
                      <label for="prov_date"><font size="4">Provider Date:</font></label>
                      <br />
                      <label for="prov_date"> <%= data[0].prov_date  %> </label>
                    </div>
                    <div class="col">
                      <label for="adop_date"><font size="4">Adoptive Date:</font></label>
                      <br />
                      <label for="adop_date"> <%= data[0].adop_date %> </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="health_con"><font size="4">Health Condition:</font></label>
                  <br />
                  <label for="health_con"> <%= data[0].health_con %> </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Doge Shelter
          </p>
        </div>
      </div>
    </div>
  </footer>



  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
  </script>
</body>

</html>